<!DOCTYPE html>
<html>
	<head>
		<title>ROI Calculator</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="includes/css/bootstrap.min.css" />
		<link rel="stylesheet" href="includes/css/bootstrap-select.css" />
		<link rel="stylesheet" href="includes/css/calculator-styles.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="includes/js/html5shiv.min.js"></script>
          <script src="includes/js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body ng-app="roiCalculator">
		<div class="container">
			<h1 class="blue-text">ROI Calculator</h1>
			<div class="calculator" ng-controller="calculatorController">
				<div class="user-input-section">
					<h4 class="orange-text">Enter the following values to see your estimated marketing costs.</h4>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>Choose your Currency</label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<select class="selectpicker" data-width="100%" ng-model="currency_code">
								<option ng-repeat="i in currency_options" value="{{i.value}}">{{i.label}}</option>
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>For every 100 visitors to your site, how many turn into Leads?</label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<input type="text" class="form-control" ng-model="leadsPerHundred" onkeypress="return validateQty(event);"/>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>For every 10 Leads, how many turn into Sales?</label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<input type="text" class="form-control" ng-model="salesPerTen" onkeypress="return validateQty(event);"/>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>How much in annual revenue ({{currency_code}}) does one customer bring to you?</label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<div class="input-group">
								<div class="input-group-addon">{{currency_code}}</div>
								<input type="text" class="form-control" ng-model="revenuePerCustomer" format="number" onkeypress="return validateQty(event);"/>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>What is your total target revenue ({{currency_code}}) for the next 12 months?<sup>*</sup></label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<div class="input-group">
								<div class="input-group-addon">{{currency_code}}</div>
								<input type="text" class="form-control" ng-model="yearlyRevenue" format="number" onkeypress="return validateQty(event);"/>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field lessmargin">
						<div class="col-lg-offset-8 col-lg-4 col-md-offset-7 col-md-5 col-sm-offset-6 col-sm-6 hidden-xs">
							<div class="row">
								<div class="col-xs-6 center-align">
									Min
								</div>
								<div class="col-xs-6 center-align">
									Max
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>Out of every {{currency_code}}100 in revenue, how much would spend on marketing?<sup>*</sup></label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-xs-6">
									<label class="visible-xs center-align">Min</label>
									<div class="input-group">
										<div class="input-group-addon">{{currency_code}}</div>
										<input type="text" class="form-control"  ng-model="minSpending" ng-change="validityCheck()" ng-model-options="{ updateOn : 'blur'}" format="number" onkeypress="return validateQty(event);"/>
									</div>
								</div>
								<div class="col-xs-6">
									<label class="visible-xs center-align">Max</label>
									<div class="input-group">
										<div class="input-group-addon">{{currency_code}}</div>
										<input type="text" class="form-control" ng-model="maxSpending" ng-change="validityCheck()" ng-model-options="{ updateOn : 'blur'}" format="number" onkeypress="return validateQty(event);"/>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="output-section results">
					<div class="output-primary">
						<h4 class="orange-text">Output</h4>
						<div class="row field">
							<div class="col-sm-4 center-align">
								<div class="output-label">Lead Conversion Rate</div>
								<div class="output-stats blue-text">{{leadsPerHundred}}%</div>
							</div>
							<div class="col-sm-4 center-align">
								<div class="output-label">Sales Conversion Rate</div>
								<div class="output-stats blue-text">{{salesPerTen*10}}%</div>
							</div>
							<div class="col-sm-4 center-align">
								<div class="output-label">Target Monthly Revenue</div>
								<div ng-model="monthlyRevenue" class="output-stats blue-text">{{currency_code}}{{monthlyRevenue() | number:0}}</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="second-row-output" ng-show="monthlyRevenue() && revenuePerCustomer" class="row field">
							<div class="col-sm-4 center-align">
								<div class="output-label two-line">Number of Sales Required per {{monthOrYearSales}}</div>
								<div class="output-stats blue-text">{{salesNumber() | number:0}}</div>
							</div>
							<div class="col-sm-4 center-align">
								<div class="output-label two-line">Number of Leads Required per {{monthOrYearLeads}}</div>
								<div class="output-stats blue-text">{{leadsNumber() | number:0}}</div>
							</div>
							<div class="col-sm-4 center-align">
								<div class="output-label two-line">Number of Visitors Required per Month </div>
								<div class="output-stats blue-text">{{visitorsPerMonth() | number:0}}</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="output-secondary" ng-show="monthlyRevenue() && revenuePerCustomer && minSpending && maxSpending">
						<h4 class="orange-text">Estimated Costs</h4>
						<div class="estimated-costs">
							<div class="section-row header border-bottom">Cost per Visitor</div>
							<div class="section-row">
								<div class="section-header border-right border-bottom">Min</div>
								<div class="section-header border-bottom">Max</div>
							</div>
							<div class="section-row">
								<div class="section-stat border-right border-bottom">{{currency_code}}{{minCostPerVisitor() | number:0}}</div>
								<div class="section-stat border-bottom">{{currency_code}}{{maxCostPerVisitor() | number:0}}</div>
							</div>
							<div class="section-row header border-bottom">Cost per Lead</div>
							<div class="section-row">
								<div class="section-header border-right border-bottom">Min</div>
								<div class="section-header border-bottom">Max</div>
							</div>
							<div class="section-row">
								<div class="section-stat border-right border-bottom">{{currency_code}}{{minCostPerLead() | number:0}}</div>
								<div class="section-stat border-bottom">{{currency_code}}{{maxCostPerLead() | number:0}}</div>
							</div>
							<div class="section-row header border-bottom">Cost per Sale</div>
							<div class="section-row">
								<div class="section-header border-right border-bottom">Min</div>
								<div class="section-header border-bottom">Max</div>
							</div>
							<div class="section-row">
								<div class="section-stat border-right border-bottom">{{currency_code}}{{minCostPerSale() | number:0}}</div>
								<div class="section-stat border-bottom">{{currency_code}}{{maxCostPerSale() | number:0}}</div>
							</div>
							<div class="section-row header border-bottom">Estimated Monthly Marketing Budget</div>
							<div class="section-row">
								<div class="section-header border-right">Min</div>
								<div class="section-header border-bottom">Max</div>
							</div>
							<div class="section-row">
								<div class="section-stat border-right">{{currency_code}}{{minCostPerLead()*leadsNumber()*10 | number:0}}</div>
								<div class="section-stat border-bottom">{{currency_code}}{{maxCostPerLead()*leadsNumber()*10 | number:0}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="includes/js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript" src="includes/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="includes/js/bootstrap-select.js"></script>
		<script type="text/javascript" src="includes/js/angular.js"></script>
		<script type="text/javascript" src="includes/js/fcsanumber.js"></script>
		<script type="text/javascript" src="includes/js/app.js"></script>
		<script type="text/javascript" src="includes/js/utils.js"></script>
	</body>
</html>