<!DOCTYPE html>
<html>
	<head>
		<title>ROI Calculator</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="includes/css/bootstrap.min.css" />
		<link rel="stylesheet" href="includes/css/calculator-styles.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="includes/js/html5shiv.min.js"></script>
          <script src="includes/js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body ng-app="roiCalculator">
		<div class="container">
			<h1 class="blue-text">ROI Calculator</h1>
			<div class="calculator" ng-controller="calculatorController">
				<div class="user-input-section">
					<h4 class="orange-text">Enter the following values to see your estimated marketing costs.</h4>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>For every 100 visitors to your site, how many turn into leads?</label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<input type="text" class="form-control" ng-model="leadsPerHundred" onkeypress="return event.charCode >= 48 && event.charCode <= 57 && event.charCode == 8 && event.charCode == 46"/>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>For every 10 leads, how many turn into sales?</label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<input type="text" class="form-control" ng-model="salesPerTen" onkeypress="return event.charCode >= 48 && event.charCode <= 57 && event.charCode == 8 && event.charCode == 46"/>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>How much in annual revenue ($) does one customer bring to you?</label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input type="text" class="form-control" fcsa-number="{ }" ng-model="revenuePerCustomer" onkeypress="return event.charCode >= 48 && event.charCode <= 57 && event.charCode == 8 && event.charCode == 46"/>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>What is your total target revenue ($) for the next 12 months?<sup>*</sup></label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input type="text" class="form-control" fcsa-number="{ }" ng-model="yearlyRevenue" onkeypress="return event.charCode >= 48 && event.charCode <= 57 && event.charCode == 8 && event.charCode == 46"/>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field lessmargin">
						<div class="col-lg-offset-8 col-lg-4 col-md-offset-7 col-md-5 col-sm-offset-6 col-sm-6 hidden-xs">
							<div class="row">
								<div class="col-xs-6 center-align">
									Minimum
								</div>
								<div class="col-xs-6 center-align">
									Maximum
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row field">
						<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
							<label>What is your total target revenue ($) for the next 12 months?<sup>*</sup></label>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-xs-6">
									<label class="visible-xs center-align">Minimum</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="text" class="form-control" fcsa-number="{ }" ng-model="minSpending" onkeypress="return event.charCode >= 48 && event.charCode <= 57 && event.charCode == 8 && event.charCode == 46"/>
									</div>
								</div>
								<div class="col-xs-6">
									<label class="visible-xs center-align">Maximum</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="text" class="form-control" fcsa-number="{ }" ng-model="maxSpending" onkeypress="return event.charCode >= 48 && event.charCode <= 57 && event.charCode == 8 && event.charCode == 46"/>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="output-section results">
					<div class="output-primary">
						<h4 class="orange-text">Output</h4>
						<div class="row field">
							<div class="col-sm-4 center-align">
								<div class="output-label">Lead Conversion Rate</div>
								<div class="output-stats blue-text">{{leadsPerHundred}}%</div>
							</div>
							<div class="col-sm-4 center-align">
								<div class="output-label">Sales Conversion Rate</div>
								<div class="output-stats blue-text">{{salesPerTen*10}}%</div>
							</div>
							<div class="col-sm-4 center-align">
								<div class="output-label">Target Monthly Revenue</div>
								<div ng-model="monthlyRevenue" class="output-stats blue-text">${{monthlyRevenue() | number:0}}</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div ng-show="monthlyRevenue() && revenuePerCustomer" class="row field">
							<div class="col-sm-4 center-align">
								<div class="output-label">Number of Sales Required per {{monthOrYearSales}}</div>
								<div class="output-stats blue-text">{{salesNumber() | number:0}}</div>
							</div>
							<div class="col-sm-4 center-align">
								<div class="output-label">Number of leads required per {{monthOrYearLeads}}</div>
								<div class="output-stats blue-text">{{leadsNumber() | number:0}}</div>
							</div>
							<div class="col-sm-4 center-align">
								<div class="output-label">Number of Visitors Required per Month </div>
								<div class="output-stats blue-text">{{visitorsPerMonth() | number:0}}</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="output-secondary" ng-show="monthlyRevenue() && revenuePerCustomer && minSpending && maxSpending">
						<h4 class="orange-text">Estimated Costs</h4>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th></th>
										<th>Minimum</th>
										<th>Maximum</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Cost per Visitor</td>
										<td>${{minCostPerVisitor() | number:0}}</td>
										<td>${{maxCostPerVisitor() | number:0}}</td>
									</tr>
									<tr>
										<td>Cost per Lead</td>
										<td>${{minCostPerLead() | number:0}}</td>
										<td>${{maxCostPerLead() | number:0}}</td>
									</tr>
									<tr>
										<td>Cost per Sale</td>
										<td>${{minCostPerSale() | number:0}}</td>
										<td>${{maxCostPerSale() | number:0}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="includes/js/jquery-1.12.3.min.js"></script>
		<script type="text/javascript" src="includes/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="includes/js/angular.js"></script>
		<script type="text/javascript" src="includes/js/fcsanumber.js"></script>
		<script type="text/javascript" src="includes/js/app.js"></script>
	</body>
</html>