body{font-family: Arial, sans-serif; color: #646464; background-color: #FFF; width: 100%;}
.container{}
.orange-text{color: #FF6000;}
.blue-text{color: #0099CC;}
h1{font-size: 24px;}
.user-input-section{background-color: #EEE; padding: 15px;}
h4{font-weight: normal; font-size: 16px; margin-bottom: 20px;}
.field{margin-bottom: 10px;}
label{font-size: 14px; font-weight: normal; padding: 6px 0;}
.center-align{text-align: center;}
.lessmargin{margin-bottom: 3px;}
.output-section{}
.output-primary{background-color: #FFE6CC; padding: 15px;}
.output-section.results > .row.field{margin-bottom: 20px;}
.output-label{font-size: 16px;}
.output-label.two-line{min-height: 60px;}
.output-stats{font-size: 30px;}
.output-secondary{background-color: #ECF7FF; padding: 15px;}
.estimated-costs{border: 1px solid #646464;}
.border-bottom{border-bottom: 1px solid #646464;}
.border-left{border-left: 1px solid #646464;}
.border-right{border-right: 1px solid #646464;}
.border-top{border-top: 1px solid #646464;}
.estimated-costs > .section-row{overflow: hidden; text-align: center;}
.estimated-costs > .section-row.header{padding: 6px 12px; font-size: 16px;}
.estimated-costs > .section-row > .section-header{padding: 6px 12px; float: left; width: 50%;}
.estimated-costs > .section-row > .section-stat{padding: 6px 12px; float: left; width: 50%; color: #0099cc; font-size: 27px;}
@media(max-width: 1001px){
	.output-label.two-line{min-height: 80px;}
}

@media(max-width: 768px){
	.output-label.two-line{height: auto !important;}
}